
<body>
<%- include('header.html') %>


    <div class="container">
        <div class="character-container">
            <div class="character">
                <a href="/remy">
                    <img class="accueil-img" src="/src/PENGULA.png" alt="Personnage Remy">
                </a>
                <p>El Remyto BG</p>
            </div>
            <div class="character">
                <a href="/lucas">
                    <img class="accueil-img" src="/src/BYRON.png" alt="Personnage Lucas">
                </a>
                <p>Luc4gbox</p>
            </div>
        </div>
    </div>
</body>
</html>
