<!DOCTYPE html>
<html>

<body>
<%- include('header.html') %>
  <!-- Ajoutez le formulaire Brawl Stars ici -->
  <div class="brawl-stars-form">
    <h1>Formulaire Brawl Stars</h1>
    <form action="/random" method="post">
    
      <label for="tag">Entrez votre tag Brawl Stars :</label>
      <input type="text" id="tag" name="tag" required>
      <br>
      <input type="submit" value="Valider">
    </form>
  </div>
</body>
</html>
</html>