<body>
    <%- include('header.html') %>

    <h1>Fichier JSON</h1>
    
    <pre><%= JSON.stringify(tropheesElRemyto, null, 2) %></pre>

    <pre><%= JSON.stringify(tropheesLuc4gbox, null, 2) %></pre>

    </body>
    </html>