<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Données du joueur</title>
</head>
<body>
    <h1>Données du joueur Brawl Stars</h1>
    <ul>

        <%=data.tag%>
        
    </ul>
</body>
</html